<!DOCTYPE html>
<html>

<head>
  <title>Colin's Favorite Movies</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav">
    <div class="site-heading">
      <h3 class=" site-heading my-1 mt-3 text-white"> Colin's Favorite Movies </h3>
      <a href="{% url 'movie-list' %}" class="btn btn-light ml-10">Back to Movies</a>
      <br>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{ movie.title }}</h2>
            <p class="card-text h6">{{ movie.content_rating }} | {{ movie.year}} </p>
            <p class="card-text h6">{{ movie.theme }} | {{ movie.runtime}} minutes </p>
            <p class="card-text">{{movie.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>